---
---
<a href="/" class="inline-flex items-center gap-2">
  <div class="w-10 h-10 bg-[#00FF00] rounded-lg flex items-center justify-center">
    <span class="text-black font-bold text-xl">АВ</span>
  </div>
</a>