---
interface Props {
  title: string;
  image: string;
}

const { title } = Astro.props;
---

<div class="relative h-[500px] mb-16 overflow-hidden rounded-2xl">
  <div class="absolute inset-0">
    <iframe
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/PHSE7aciUQM?autoplay=1&mute=1&loop=1&playlist=PHSE7aciUQM&controls=0"
      title="Background Video"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      style="object-fit: cover;"
    ></iframe>
  </div>
  <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black/60"></div>
  <div class="absolute top-8 left-8">
    <h1 class="text-3xl font-semibold text-white/90">{title}</h1>
  </div>
</div>