---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description?: string;
}

const { 
  title,
  description = "Психолог для собственников бизнеса и топ-менеджеров. Помогаю преодолевать барьеры для роста."
} = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
<meta name="zen-verification" content="bKJFrIxGVFu9vJ5kGa7bDD7WmBFdgiWkjqX6ZP2bk4Dk4zJljpsdWHmelcBRxKjp" />
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for Андрей Высоцкий" href="/rss.xml" />
    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-col bg-black text-white font-light">
    <slot />
  </body>
</html>
